# General
.DS_Store
.vscode
.AppleDouble
.LSOverride
.zip
.psd

# Icon must end with two \r
Icon

# Thumbnails
._*

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
